<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- fragment header -->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" th:href="@{/static}">
                <i class="bi bi-building"></i> Hotel Booking
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/static}">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}">Đăng nhập</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/lien-he}">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
